<mat-nav-list >
    <span mat-subheader>Input examples</span>

    <a mat-list-item href="#simple-input" (click)="scrollTo()">Simple input</a>
    <a mat-list-item href="#clear-button" (click)="scrollTo()">With clear button</a>
    <a mat-list-item href="#validation" (click)="scrollTo()">With form validation</a>
    <a mat-list-item href="#disabled-state" (click)="scrollTo()">With disabled state</a>
    <a mat-list-item href="#multiple-files" (click)="scrollTo()">With multiple files</a>
    <a mat-list-item href="#accept-type" (click)="scrollTo()">With file type constraint (accept)</a>
    <a mat-list-item href="#error-state-matcher" (click)="scrollTo()">With custom ErrorStateMatcher</a>

    <mat-divider></mat-divider>

    <span mat-subheader>Other examples</span>

    <a mat-list-item href="#pipe-byteformat" (click)="scrollTo()">ByteFormat pipe</a>
    <a mat-list-item href="#appearance" (click)="scrollTo()">Appearance variants</a>
 </mat-nav-list>
