<mat-nav-list>
    <span mat-subheader>Input examples</span>

    <a mat-list-item href="#simple-input">Simple input</a>
    <a mat-list-item href="#clear-button">With clear button</a>
    <a mat-list-item href="#validation">With form validation</a>
    <a mat-list-item href="#disabled-state">With disabled state</a>
    <a mat-list-item href="#multiple-files">With multiple files</a>
    <a mat-list-item href="#accept-type">With file type constraint (accept)</a>
    <a mat-list-item href="#error-state-matcher">With custom ErrorStateMatcher</a>

    <mat-divider></mat-divider>

    <span mat-subheader>Other examples</span>

    <a mat-list-item href="#pipe-byteformat">ByteFormat pipe</a>
    <a mat-list-item href="#appearance">Appearance variants</a>
 </mat-nav-list>
