<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Expand or collapse menu" (click)="menuOpened = !menuOpened">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title">Angular Material - File Input</span>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav #sidenav [opened]="menuOpened" [mode]="menuDisplayMode">
    <app-menu (navigate)="onNavigate()"></app-menu>
  </mat-sidenav>

  <div class="sidenav-content">
    <div class="main">
      <app-usage></app-usage>
      <br>
      <app-appearance></app-appearance>
    </div>
  </div>

</mat-sidenav-container>
